%li
  %span.content
    = note.content
  %span.timestamp
    Posted #{time_ago_in_words(note.created_at)} ago..
  - if current_user?(note.user)
    = link_to "delete", note, method: :delete, confirm: "Are you sure?", title: note.content