= form_for(current_user.memberships.build(group_membership_id: group.id), remote: true) do |f|
  %div
    = f.hidden_field :group_membership_id
  = f.submit "Join this group", class: "btn btn-large btn-primary"