= form_for(note) do |f|
  .field
    = f.text_area :content, placeholder: "Write a note.."
    = f.collection_select :group_id, current_user.group_memberships, :id, :name
  = f.submit "Post", class: "btn btn-large btn-primary"