- user ||= current_user
.stats
  %a{href: following_user_path(user)}
    following
    = pluralize(user.followers.count, "user")
  with
  %a{href: followers_user_path(user)}
    = pluralize(user.followed_users.count, "follower")