%center.hero-unit
  %h1 A Better Twitter
  %p
    Welcome to Brian Dear's little experiment in making an exceptionally lean
    twitter-like service.
  = link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"