.content
  %h1
    Zebra Crossing
  %h2
    Group communication. Easy.
  %h3
    = link_to "Create your group in 10 seconds", signup_path
  %h4
    (it's free)

.vertical.stripes
  .biglogo
    = image_tag('zebracrossing_big_logo.png')
.signup
  = render 'users/signup'
